:root {
  --primary: #FEA70A;
}

.shadow-border {
  box-shadow: 0 0 10px var(--primary);
}

.chevronIcon {
  width: 1.2rem;
  height: 1.2rem;
  stroke-width: 48;
  stroke: var(--primary);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
